<p>Confirm Delete</p>
<br />
<button type="submit" mat-raised-button color="primary" (click)="onNoClick($event)">Cancel</button>
<button type="submit" mat-raised-button color="accent" (click)="onConfirmClick($event)">Confirm</button>