<h4 *ngIf="error">{{error}}</h4>
<form (ngSubmit)="submit()" #loginForm class="login-form ">
    <mat-card>
        <mat-card-title>Sign In</mat-card-title>

        <mat-card-content>

            <mat-form-field>
                <input matInput type="email" name="username" placeholder="Email" class="form-control"
                       [(ngModel)]="model.username" required="required"/>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" class="form-control"
                       [(ngModel)]="model.password" required="required"/>
            </mat-form-field>

            <button type="submit" mat-raised-button color="accent">Sign In</button>
        </mat-card-content>

    </mat-card>

</form>