<div class="container-fluid">
    <!--<h1>Angular Todo List</h1>-->
    <!--<nav class="nav nav-pills">
      <a class="nav-link" routerLink="todos" routerLinkActive="active" *ngIf="auth.loggedIn">Todo List</a>
      <a class="nav-link" routerLink="users" routerLinkActive="active" *ngIf="auth.loggedIn">Users</a>
      <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a>
    </nav>-->
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>CMS</span>
            <span class="toolbar-spacer"></span>
            <button mat-flat-button routerLink="/contents" *ngIf="auth.loggedIn">
                Contents
            </button>
            <button mat-icon-button matTooltip="Logout" (click)="logout()" *ngIf="auth.loggedIn">
                <mat-icon class="toolbar-icon">power_settings_new</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
