<mat-card>
    <button type="submit" mat-raised-button color="accent" class="create-content-link" routerLink="/contents/create">Create
    </button>
    <mat-card-header>
        <mat-card-title>
            <h2>Contents</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div class="example-container mat-elevation-z8">
            <div class="example-loading-shade"
                 *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                </div>
            </div>

            <div class="example-table-container">

                <table mat-table [dataSource]="collection$ | async" class="example-table"
                       matSort matSortActive="createdAt" matSortDisableClear matSortDirection="desc">
                    <!-- Number Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                        <td mat-cell *matCellDef="let row">{{row.id}}</td>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                        <td mat-cell *matCellDef="let row">{{row.attributes.title}}</td>
                    </ng-container>

                    <!-- State Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>State</th>
                        <td mat-cell *matCellDef="let row">{{row.attributes.status}}</td>
                    </ng-container>

                    <!-- Created Column -->
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Created
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.attributes.createdAt | date:'medium'}}</td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let row">
                            <button routerLink="/contents/edit/{{row.id}}" mat-icon-button matSuffix color="primary"
                                    aria-label="Edit" matTooltip="Edit" [matTooltipPosition]="'after'">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button routerLink="/contents/delete/{{row.id}}" mat-icon-button color="warn"
                                    matTooltip="Delete" [matTooltipPosition]="'before'" (click)="openDialog(row.id)">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </td>
                    </ng-container>


                    <!-- Number Column -->
                    <ng-container matColumnDef="idFilter">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field>
                                <input matInput name="id" [(ngModel)]="filters.id" #id placeholder="ID"/>
                            </mat-form-field>
                        </th>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="titleFilter">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field>
                                <input matInput [(ngModel)]="filters.title" name="title" #title placeholder="TITLE"/>
                            </mat-form-field>
                        </th>
                    </ng-container>

                    <!-- State Column -->
                    <ng-container matColumnDef="statusFilter">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field>
                                <input matInput [(ngModel)]="filters.status" name="status" #status
                                       placeholder="STATUS"/>
                            </mat-form-field>
                        </th>
                    </ng-container>

                    <!-- Created Column -->
                    <ng-container matColumnDef="createdAtFilter">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field>
                                <input matInput [(ngModel)]="filters.createdAt" name="createdAt" #createdAt
                                       [matDatepicker]="picker" placeholder="DATE" disabled>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </th>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actionsFilter">
                        <th mat-header-cell *matHeaderCellDef>
                            <button type="submit" mat-icon-button color="accent" (click)="onFilter()"
                                    matTooltip="Filter"
                                    *ngIf="filters.id||filters.title||filters.status||filters.createdAt">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button type="submit" mat-icon-button color=undefined (click)="onClearFilter()"
                                    matTooltip="Clear" *ngIf="filters.id||filters.title||filters.status||filters.createdAt">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </th>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-header-row
                        *matHeaderRowDef="['idFilter', 'titleFilter', 'statusFilter', 'createdAtFilter', 'actionsFilter']"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-paginator
                [length]="resultsLength"
                [pageSize]="15"
                showFirstLastButtons
        ></mat-paginator>
    </mat-card-actions>
</mat-card>
