<form (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>{{action}} Content</mat-card-title>

        <mat-card-content>
            <mat-form-field class="content-form-container">
                <input matInput placeholder="Title" [(ngModel)]="model.title" name="title" required/>
            </mat-form-field>

            <mat-form-field class="content-form-container">
                <textarea matInput placeholder="Description" [(ngModel)]="model.description"
                          name="description" required></textarea>
            </mat-form-field>

            <textarea matInput [froalaEditor] [(froalaModel)]="model.html" required></textarea>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" (click)="router.navigate(['/contents'])">Back</button>
            <button type="submit" mat-raised-button color="accent">{{action}}</button>
        </mat-card-actions>
    </mat-card>
</form>